*{
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {

    margin: .5em;
    padding: .2em;
    border-radius: 5px;
}
.message-info{
    color: #2b208aff;
    background-color: #cddeffff;
}


.message-success{
    color: #07672fff;
    background-color: #cff4daff;
}
.message-warning{
    color: #978623ff;
    background-color: #fcfbc9ff;
}
.message-error{
    color: #7d102cff;
    background-color: #fad3d7ff;
}

