*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}
.flex-colum {
    display: flex;
    flex-flow: column;
}

.flex-row {
    display: flex;
}

body {

    background-color: #095454;
    font-family: 'Cormorant Garamond', serif;
}

.index-sec1 {
    background-image: url("../img/Circuit-PNG-File.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

    & div>h1 {
        padding: 5vh 0;
        text-align: center;
        font-size: 7vw;
    }
    & div h1:nth-child(2){
        font-size: 6vw;
    }

    & p {
        padding: 5vh;
        font-size: clamp(1rem,3vw, 2rem);
    }
}

.index-sec2 {
    background-color: #095454;
    display: flex;
    flex-direction: column;
    height: 100vh;



    .sec2-tabs {
        padding: 1em;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        justify-items: baseline;
        background: linear-gradient(0deg, rgba(9, 84, 84, 0), rgba(4, 227, 2, 0.36), rgba(9, 84, 84, 0.04));
        backdrop-filter: none;
        > li {
            background-color: #073b3b;
            padding: 1em;
            border-radius: 50px;
            > h2 {
                font-size: clamp(1.2rem, 2vw, 2rem);
                color: #02f54f;
            }
        }

        > li:hover {
            background-color: #083b6b;

            .info {
                display: block;
                backdrop-filter: blur(4px);
                background-color: rgba(2, 245, 79, 0.08);
                border-radius: 20px;
            }

        }
    }

    .info {
        display: none;
        margin-top: 2em;
        left: 0;
        position: absolute;
        width: 100%;
        float: right;
    }

    .d {
        width: 100%;
        /*        background-color: #1ed6f3;*/
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 2rem;

        > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 45%;
            min-width: 250px;
            width: fit-content;
            height: 75vh;
            max-height: 70dvh;
            padding: 2em;
            margin: 1vw;
            border-radius: 15px;
            /*background-color: #f31e97;*/

            & ul, & ol {
                list-style: none
            }

            & li {
                font-size: clamp(.5rem, 3vw, 2rem);
                margin: .3em;
            }

            & h2 {
                margin: 1rem 0;
                background-color: rgba(31, 205, 233, 0);
                padding: 0;
                border-radius: 0;
                font-size: clamp(2rem, 3vw, 5rem);
            }


            & img {
                max-height: 70vh;
                border-radius: 20px;
                object-fit: contain;
            }
        }


    }
}

.product-price{
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;

    & h2{
        font-size: 2.3rem;
    }

    & table{
        margin-top: 1em;
        border: 2px solid black;
        border-collapse: collapse;

        & tr:nth-child(1){
            text-align: center;
            font-size: 1.7rem;

        }

        & td{
            border: 2px solid black;
            padding: 1em;
        }

        & td:nth-child(2){
            text-align: center;
        }


    }

}
.ft{
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}






